.pallet-pixel {
  border: 1px solid black;
}

.canvas-pixel {
  border: 1px solid black;
}

#container1 {
  width: 100%;
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  margin: auto;
}

#pallet {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  margin: 10px auto;
}

.pallet-pixel {
  border-radius: %50;
}
